    body{
    font-family: Arial, Helvetica, sans-serif;
    }
    #l1:link{color: blue;}
    #l1:visited{color:chartreuse;}
    #l2:link{color:gray;}
    #l2:visited{color:darkorange;}
    #l3:link{color:darkorchid;}
    #l3:visited{color:black;}
    #l4:link{color:red;}
    #l4:visited{color:royalblue;}

    h1{
      text-align: center;
      font-size: 24px;
    }
    #H{
        font-size: 120%;
    }
    div{
      display: flex;
      flex-wrap: wrap;
    }
    /* Large devices */ 
@media (min-width: 992px) { 
.col-lg-3 {
  width: 25%;
  flex-direction: row;
  text-align: center;
  }

}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
.col-md-6 {
  width: 50%;
  flex-direction: row;
  text-align: center;
  }
}
/* Small devices */
@media (max-width: 767px){
  .col-sm-12 {
    width: 100%;
    flex-direction: row;
    text-align: center;
  }
}