    body{
    font-family: Arial, Helvetica, sans-serif;
    }
    ul li:nth-child(odd){
      background-color: gray;
    }
    li ul:nth-child(odd){
    background-color: white;
    }
    ol li:nth-child(3){
      cursor: pointer
    }
    ol li:nth-child(5){
      cursor: pointer
    }
    ol li:nth-child(4){
      background-color: orange;
    }
    h1{
      text-align: center;
      font-size: 22px;
    }
    #return1{
      font-style: italic;
    }
    h2{
      text-align: center;
    }
    #flexxx{
      display: flex;
      flex-wrap: wrap;
    }
    @media (min-width: 992px) { 
      .col-lg-6 {
        width: 50%;
        }