body{
    font-family: Arial, Helvetica, sans-serif;
}
article{
    border: 2px solid black;
    background-color: aqua;
    margin: 20px;
}
p{
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}
h3:nth-of-type(1){
    background-color:khaki;
}
h3:nth-of-type(2){
    background-color:darkseagreen;
}
h3:nth-of-type(3){
    background-color:salmon;
}
h3{
    text-align: center;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    padding: 5px;
    margin-top: 0px;
    width: 100px;
    margin-left: auto;
}
