body{
    font-family: Arial, Helvetica, sans-serif;
}
article{
    border: 2px solid black;
    background-color: aqua;
    margin-bottom: 5px;
}
p{
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}
h3{
    text-align: right;
    border: 2px solid black;
    background-color: lemonchiffon;
    padding: 10px;
    margin-top: 0px;
    width: 30px;
}